doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='css/app.css')
    title(ng-bind='title')

  body(ng-app='regApp')
    header
      h2.text-center Angular.js registration example
    .container.content
    script(type='text/javascript', src='js/app.js', async="")
