hr
.row
  .col-md-6
    h3.text-center Sign up
    form(name="signupForm")
      .row
        .col-md-6
          label Your name:
          input.form-control(type="text", maxlength="30", placeholder="Jonh Smith", required="true", ng-model="signup.name")
        
        .col-md-6
          label Your email:
          input.form-control(type="email", placeholder="example@example.com", required="true", ng-model="signup.email")


      .row(class="top-buffer")
        .col-md-6
          label Your password:
          input.form-control(type="password", ng-minlength="8", required="true", ng-model="signup.password", check-pass="", name="password")
          p.top-buffer.text-right.error-hint(ng-show="signupForm.password.$invalid && signupForm.password.$dirty") Must have more than 7 symbols and digits
        
        .col-md-6
          label Repeat password:
          input.form-control(type="password", ng-minlength="8", required="true", ng-model="signup.passwordRepeated", password-match="signup.password", name="passwordRepeated")
          p.top-buffer.text-right.error-hint(ng-show="signupForm.passwordRepeated.$invalid && signupForm.passwordRepeated.$dirty") Must be the same as first password

      .row(class="top-buffer", ng-show="signupForm.$valid")
        .col-md-4
        .col-md-4
          button.btn.btn-success.btn-block(type="button", ng-click="signUp(signup)") Sign up
        .col-md-4


  .col-md-6
    h3.text-center Log in
    .row
hr
