.col-md-4
.col-md-4
  h2.text-center Welcome, {{ user.name }} !
  p.text-center Your email is {{ user.email }}
  button.btn.btn-default.top-buffer.btn-block(type="btn", ng-click="logout()") Logout
.col-md-4
